<p>Название события * :<br>
	<input type="text" value="<%=eventName%>" name="eventName" placeholder="Название события" minlength="3" maxlength="20" required></p>
<p>Описание события * :<br>
	<textarea rows="5" cols="20" name="eventText" placeholder="Описание события" minlength="20" maxlength="100" required><%=eventText%></textarea></p>
<p>Дата *: <input type="text" id="datepicker" value="<%=eventDate%>" pattern="\d+/d+/d+\" required></p>
<p>Отношение :
  <select name="position" id="position">
    <option selected="selected">Нейтральное</option>
    <option>Положительное</option>
    <option>Отрицательное</option>
  </select>
<p>Добавить видео :<br>
	<input id="inputVideo" type="text" placeholder="вставьте URL видео" value="<%=eventVideo%>">
	<object id="object" width="300" height="200" data="" type="application/x-shockwave-flash"></object></p>
<p>Добавить место на карту :<br>
<input id="map-place" type="text" placeholder="Введите адрес события" value="<%=eventMap%>">
	<div id="map"></div></p>
	<button type="submit" id="save-event">Отправить</button>